[submodule "vendor/cJSON"]
	path = vendor/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "vendor/libcheck"]
	path = vendor/libcheck
	url = git@github.com:libcheck/check.git
[submodule "vendor/iniparser"]
	path = vendor/iniparser
	url = git@github.com:ndevilla/iniparser.git
